<div
  class="container-game animate__animated animate__fadeIn animate__delay-0.8s"
  id="container-game"
>
  <header>
    <app-header></app-header>
  </header>

  <div class="content-game" *ngIf="displayGameTable">
    <div class="container-board">
      <div></div>
      <div class="container-cards">
        <div class="card">
          <p id="votePlayer0" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[0] }}</p>
          <app-card  id="card0"></app-card>
          <p>{{ playersName[0] }}</p>
        </div>
        <div class="card">
          <p id="votePlayer1" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[1] }}</p>
          <app-card  id="card1"></app-card>
          <p>{{ playersName[1] }}</p>
        </div>
        <div class="card">
          <p id="votePlayer2" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[2] }}</p>
          <app-card  id="card2"></app-card>
          <p>{{ playersName[2] }}</p>
        </div>
      </div>
      <div></div>
      <div class="container-cards">
        <p id="votePlayer3" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[3] }}</p>
        <div class="card">
          <app-card  id="card3"></app-card>
          <p>{{ playersName[3] }}</p>
        </div>
      </div>
      <div>
        <app-container-triple></app-container-triple>
      </div>
      <div class="container-cards">
        <div class="card">
          <p id="votePlayer4" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[4] }}</p>
          <app-card  id="card4"></app-card>
          <p>{{ playersName[4] }}</p>
        </div>
      </div>
      <div></div>
      <div class="container-cards">
        <div class="card">
          <p id="votePlayer5" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[5] }}</p>
          <app-card  id="card5"></app-card>
          <p>{{ playersName[5] }}</p>
        </div>
        <div class="card main-player">
          <app-icon-player></app-icon-player>
          <app-player-name></app-player-name>
          <p id="votePlayer7">{{ numberMainPlayer }}</p>
        </div>
        <div class="card">
          <p id="votePlayer6" *ngIf="displayTotalVotes()">{{ numberAssingPlayers[6] }}</p>
          <app-card  id="card6"></app-card>
          <p>{{ playersName[6] }}</p>
        </div>
      </div>
      <div></div>
    </div>

    <h3>Elige una carta 👇</h3>
    <div class="grid-cards-numbers" id="options">
      <div class="selection-cards">
        <p id="number0">{{ numbers[0] }}</p>
        <app-card
          (click)="getNumberMain(0)"
          class="numbers-card"
          id="card_number{{ 0 }}"
          (click)="changeStyleCards(0)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number1">{{ numbers[1] }}</p>
        <app-card
          (click)="getNumberMain(1)"
          class="numbers-card"
          id="card_number1"
          (click)="changeStyleCards(1)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number2">{{ numbers[2] }}</p>
        <app-card
          (click)="getNumberMain(2)"
          class="numbers-card"
          id="card_number2"
          (click)="changeStyleCards(2)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number3">{{ numbers[3] }}</p>
        <app-card
          (click)="getNumberMain(3)"
          class="numbers-card"
          id="card_number3"
          (click)="changeStyleCards(3)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number4">{{ numbers[4] }}</p>
        <app-card
          (click)="getNumberMain(4)"
          class="numbers-card"
          id="card_number4"
          (click)="changeStyleCards(4)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number5">{{ numbers[5] }}</p>
        <app-card
          (click)="getNumberMain(5)"
          class="numbers-card"
          id="card_number5"
          (click)="changeStyleCards(5)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number6">{{ numbers[6] }}</p>
        <app-card
          (click)="getNumberMain(6)"
          class="numbers-card"
          id="card_number6"
          (click)="changeStyleCards(6)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number7">{{ numbers[7] }}</p>
        <app-card
          (click)="getNumberMain(7)"
          class="numbers-card"
          id="card_number7"
          (click)="changeStyleCards(7)"
        >
        </app-card>
      </div>
      <div class="selection-cards">
        <p id="number8">{{ numbers[8] }}</p>
        <app-card
          (click)="getNumberMain(8)"
          class="numbers-card"
          id="card_number8"
          (click)="changeStyleCards(8)"
        >
        </app-card>
      </div>
    </div>
    <div id="totalVotes" *ngIf="displayTotalVotes()">
      <app-votes></app-votes>
    </div>
  </div>
</div>
