.content-game {
  display: flex;
  width: 100%;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
}
.container-game {
  width: 100%;
  min-height: 100vh;
}
.container-name {
  color: white;
  margin-top: 0px;
}
.icon-player {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.grid-cards-numbers {
  display: flex;
  grid-gap: 50px;
  grid-template-columns: 100px;
  bottom: 0;
  margin-bottom: 20px;
}
.text-card {
  font-size: 25px;
}
.card_player {
  text-align: center;
}
.container-board {
  display: grid;
  grid-template-columns: 150px 350px 150px;
  grid-template-rows: 150px 300px 150px;
}
.container-table {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-player {
  text-align: center;
  margin-bottom: 20px;
}
.selection-cards {
  display: flex;
  justify-content: center;
  align-content: center;
}
.numbers-card:hover {
  background-color: #6a6a6e;
  cursor: pointer;
}
.numbers-card {
  position: fixed;
  border-radius: 7px;
}
.card {
  text-align: center;
  padding: 15px;
}
.card-vote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parrafo {
  position: absolute;
  color: white;
}
