<div id="containerTotalVotes" class="grid-cards-numbers">
  <div *ngFor="let i of size">
    <div class="item">
      <div class="vote">
        <p id="cardVote{{ i }}">{{ selectedCards[i] }}</p>
      </div>
      <div class="votes-container">
        <div class="container-votes">
          <div class="card">
            <app-card></app-card>
          </div>
          <div>
            <p id="voteIndividual{{ i }}">{{ votes[i] }}</p>
          </div>
        </div>
        </div>
    </div>
  </div>
  <div class="average">
    <div>
      <p>Promedio</p>
    </div>
    <div>
      <h1>{{ average }}</h1>
    </div>
  </div>
</div>