.icon {
  color: #330072;
}
.container_player {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}