<link rel="stylesheet" href="input-player.component.css">
<div class="content">
  <app-icon-pragma style="display: {{displayCreate}};"></app-icon-pragma>
  <div class="container animate__animated animate__fadeIn animate__delay-0.8s">
    <ng-container *ngIf= displayGameTable == 'none'>
      <div class="center" style="display: {{displayCreate}};">
        <p>Tu nombre</p>
        <input type="text" [(ngModel)]="userName" class="player-name" />
        <div class="radio">
          <label for="player">Jugador</label>
          <input class="input-radio" type="radio" value="player" id="player" />
          <label for="viewer">Espectador</label>
          <input class="input-radio" type="radio" value="viewer" id="viewer" />
        </div>
        <div class="container-btn">
        <button (click)="execute()" class="btn">Continuar</button>
      </div>
      <p style="display: {{displayMessage}};">Nombre no válido</p>
      </div>
    </ng-container>
  
  </div></div>
  