.container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.center {
  text-align: center;
  border: 2px solid #c688ff;
  border-radius: 20px;
  box-shadow: 0 0 40px #c688ff;
  background-color: #1f0d3f;
  padding: 70px;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio {
  margin-right: 20px;
  margin-top: 20px;
}
label {
  margin-left: 20px;
}
.player-name {
  border-radius: 30px;
  height: 2.5rem;
  width: 20rem;
  outline: none;
  color: white;
  font-size: 20px;
  border: 2px solid #6e389f;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
}
.btn {
  padding: 8px;
  border-radius: 20px;
  margin-top: 30px;
  color: #370578;
  font-family: "Sulphur Point", sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  transition: all 0.5s ease; 
}
.btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.container-btn{
  display: flex;
  justify-content: center;
}
