<div class="content" *ngIf="display">
  <div>
    <app-icon-pragma></app-icon-pragma>
  </div>
  <div class="container animate__animated animate__fadeIn animate__delay-0.8s">
    <div class="center">
      <p>Tu nombre</p>
      <input type="text" [(ngModel)]="userName" class="player-name" />
      <p *ngIf="displayMessage">Nombre no válido</p>
      <div class="radio">
        <form>
          <label for="player">Jugador</label>
          <input class="input-radio" type="radio" value="player" id="player" />
          <label for="viewer">Espectador</label>
          <input class="input-radio" type="radio" value="viewer" id="viewer" />
        </form>
      </div>
      <div class="container-btn">
        <button (click)="execute()" class="btn">Continuar</button>
      </div>
    </div>
  </div>
</div>
