<ng-container>

  <div
    class="container-invite animate__animated animate__fadeIn animate__delay-0.8s"
    id="invite"
  >
    <div class="title">
      <h3>Invitar jugadores</h3>
      <div class="button-close">
        <button class="close" (click)="close()">X</button>
      </div>
    </div>
    <div class="content">
      <div>
        <p id="link" class="link">
          https://prsgplsnningpoker.com/9QdP98VGUrZQLNCqYAF7
        </p>
      </div>
      <div class="container-btn">
        <button class="btn" (click)="copy()">Copiar Link</button>
      </div>
    </div>
  </div>
</ng-container>
