.container-invite {
  border: solid 1px #9610ff;
  border-radius: 18px;
  background-color: #1F0D3F;
}
.title {
  padding: 5px;
  top: 0;
  background-color: #6429cd;
  border-radius: 18px 18px 0 0;
  display: flex;
  align-items: center;
}
.link {
  border: solid 1px #6429cd;
  padding: 10px;
  border-radius: 20px;
}
.content {
  margin: 40px;
  justify-content: center;
  align-items: center;
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px;
  border-radius: 20px;
  color: #330072;
  font-weight: bold;
  margin: 20px;
  transition: all 0.5s ease; 

}
.btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.close {
  border: none;
  background-color: transparent;
  color: white;
  float: right;
}
.close:hover {
  cursor: pointer;
}
.button-close {
  width: 65%;
  margin-right: 0px;
}
