<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <title>reto</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <app-initial-logo class="initial" *ngIf="initial"></app-initial-logo>
        <app-input-text *ngIf="displayCreateGame"></app-input-text>
        <app-input-player *ngIf="setDisplayInputPlayer('game_name')"></app-input-player>
        <app-game-table *ngIf="setDisplayGame()"></app-game-table>
      </div>
    </div>
  </body>
</html>
