<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
    <div class="content">
      <div class="container">
        <initial-logo class="initial" style="display: none"></initial-logo>
        <app-input-text style="display: none"></app-input-text>
        <app-input-player style="display: none"></app-input-player>
        <app-game-table style="display: block"></app-game-table>
        <app-invite style="display: none"></app-invite>
      </div>
    </div>
  </body>
</html>
