<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
    <div class="content">
      <div class="container">
        <initial-logo
          class="initial"
          style="display: {{ initial }};"
        ></initial-logo>
        <app-input-text
          style="display: {{ displayCreateGame }};"
        ></app-input-text>
        <app-input-player
          style="display: {{ setDisplay('game_name') }};"
        ></app-input-player>
        <app-game-table
          style="display: {{ setDisplay('player_name') }};"
        ></app-game-table>
      </div>
    </div>
  </body>
</html>
