body {
  background: radial-gradient(circle, #370578, #615578);
  height: 700px;
  overflow-y: hidden;
  font-family: "Sulphur Point", sans-serif;
  font-family: "Kanit", sans-serif;
  color: white;
}
