body {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #330072 0%,
    rgba(31, 13, 63, 0.7) 100%
  );
  font-family: "Sulphur Point", sans-serif;
  font-family: "Kanit", sans-serif;
  color: white;
}
.container {
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
