body,
html {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #330072 0%,
    rgba(31, 13, 63, 0.7) 100%
  );
  font-family: "Sulphur Point", sans-serif;
  font-family: "Kanit", sans-serif;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  min-height: 100vh;
}

.container-root {
  height: 110%;
}
